spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.hibernate.show-sql=true
#spring.datasource.url=jdbc:postgresql://localhost:5432/postgres
spring.datasource.url=${SPRING_DATASOURCE_URL}
spring.datasource.username=${SPRING_DATASOURCE_USERNAME}
spring.datasource.password=${SPRING_DATASOURCE_PASSWORD}

spring.datasource.initialization-mode=always
spring.datasource.initialize=true
spring.datasource.schema=classpath:/schema.sql
spring.sql.init.mode=always
spring.datasource.continue-on-error=true

app.discord.bot.token=${DISCORD_BOT_TOKEN}

app.discord.bot.live.token=${DISCORD_BOT_TOKEN}
app.discord.bot.test.token=${DISCORD_BOT_TOKEN_TEST}
app.discord.live.qod.webhook=${WEBHOOK}
app.discord.test.qod.webhook=${TEST_WEBHOOK}